In [ ]:
import numpy as pd
import pandas as pd

In [ ]:
data = {
    'ID' : [101, 102, 103, 104, 105],
    'Name': ['Reyansh', 'Aarav', 'Shivani', 'Yuvraj', 'Kavya'],
    'Age': [27, 28, 24, 22, 21],
    'State': ['Rajasthan', 'Maharashtra', 'MP', 'Karnataka','UP'],
    'Sales': [200, 450, 190, 350, 240]
}

In [ ]:
#create dataframe
df = pd.DataFrame(data)
print("Original Dataset")
print(df)

Original Dataset
    ID     Name  Age        State  Sales
0  101  Reyansh   27    Rajasthan    200
1  102    Aarav   28  Maharashtra    450
2  103  Shivani   24           MP    190
3  104   Yuvraj   22    Karnataka    350
4  105    Kavya   21           UP    240

In [ ]:
#Dataflow transformation

In [ ]:
#1. character map
#description : Transform text data by changing the characters

In [ ]:
#character map: Convert 'Name' to upper case
df['Name_Upper'] = df['Name'].str.upper()
print("\nCharacter Map (Uppercase Names): ")
print(df[['Name', 'Name_Upper']])

Character Map (Uppercase Names):
      Name Name_Upper
0  Reyansh    REYANSH
1    Aarav      AARAV
2  Shivani    SHIVANI
3   Yuvraj     YUVRAJ
4    Kavya      KAVYA

In [ ]:
#2.
df_copy1=df.copy()
df_copy2=df.copy()

df_copy1['Sales'] *= 1.1
df_copy2['Age'] += 5

print("\nMulticast (Modified Copies):")
print("Copy 1 (Sales Increased):")
print(df_copy1)
print("\nCopy 2 (Age Increased):")
print(df_copy2)

Multicast (Modified Copies):
Copy 1 (Sales Increased):
    ID     Name  Age        State  Sales Name_Upper
0  101  Reyansh   27    Rajasthan  220.0    REYANSH
1  102    Aarav   28  Maharashtra  495.0      AARAV
2  103  Shivani   24           MP  209.0    SHIVANI
3  104   Yuvraj   22    Karnataka  385.0     YUVRAJ
4  105    Kavya   21           UP  264.0      KAVYA

Copy 2 (Age Increased):
    ID     Name  Age        State  Sales Name_Upper
0  101  Reyansh   32    Rajasthan    200    REYANSH
1  102    Aarav   33  Maharashtra    450      AARAV
2  103  Shivani   29           MP    190    SHIVANI
3  104   Yuvraj   27    Karnataka    350     YUVRAJ
4  105    Kavya   26           UP    240      KAVYA

In [ ]:
#3. Conditional Split: Sales > 300
high_sales = df[df['Sales'] > 300]
low_sales = df[df['Sales'] <= 300]

print("\nConditional Split:")
print("High Sales: ")
print(high_sales)
print("\nLow Sales:")
print(low_sales)

Conditional Split:
High Sales:
    ID    Name  Age        State  Sales Name_Upper
1  102   Aarav   28  Maharashtra    450      AARAV
3  104  Yuvraj   22    Karnataka    350     YUVRAJ

Low Sales:
    ID     Name  Age      State  Sales Name_Upper
0  101  Reyansh   27  Rajasthan    200    REYANSH
2  103  Shivani   24         MP    190    SHIVANI
4  105    Kavya   21         UP    240      KAVYA

In [ ]:
#4. Aggregation
#Description: Aggregate data, e.g.,calculate total sales by country
#Aggregation: Total sales by state
agg_df = df.groupby('State')['Sales'].sum().reset_index()
print("\nAggregation (Total Sales by State):")
print(agg_df)

Aggregation (Total Sales by State):
         State  Sales
0    Karnataka    350
1           MP    190
2  Maharashtra    450
3    Rajasthan    200
4           UP    240

In [ ]:
#5. Sort
#Description: Sort the dataset by Sales in descending order.
#Sort: Sort by Sales in descending order
sorted_df = df.sort_values(by='Sales', ascending=False)
print("\nSort (Descending Sales):")
print(sorted_df)

Sort (Descending Sales):
    ID     Name  Age        State  Sales Name_Upper
1  102    Aarav   28  Maharashtra    450      AARAV
3  104   Yuvraj   22    Karnataka    350     YUVRAJ
4  105    Kavya   21           UP    240      KAVYA
0  101  Reyansh   27    Rajasthan    200    REYANSH
2  103  Shivani   24           MP    190    SHIVANI

In [ ]:
#6. Derived Column
#Description: Create a new column by deriving information from existing data.

In [ ]:
#Derived Column: Categories sales as 'High' or 'Low'
df['Sales_Category'] = df['Sales'].apply(lambda x: 'High' if x > 300 else 'Low')
print("\nDerived Column (Sales Categories):")
print(df[['ID', 'Name', 'Sales', 'Sales_Category']])

Derived Column (Sales Categories):
    ID     Name  Sales Sales_Category
0  101  Reyansh    200            Low
1  102    Aarav    450           High
2  103  Shivani    190            Low
3  104   Yuvraj    350           High
4  105    Kavya    240            Low